<!-- red -->
<div class="mainCont">
    <div class="topMenu">

        <div class="image">
            <img src="../../assets/depositphotos_22064725-stock-photo-happy-smiling-girl.jpg" class="image1">
            <label>Josephine Williams</label>
        </div>

        <div class="image">
            <mat-icon>videocam</mat-icon>
            <span>Watch</span>
        </div>

        <div class="image">
            <mat-icon>events</mat-icon>
            <span>Events</span>
        </div>

        <div class="image">
            <mat-icon>group</mat-icon>
            <span>Friends</span>
        </div>

        <div class="image">
            <mat-icon>watch</mat-icon>
            <span>Memories</span>
        </div>

        <button class="btn">See More
            <mat-icon>keyboard_arrow_down</mat-icon>

        </button>
    </div>

    <hr>
    <div class="bottomMenu">
        <div class="paragraph">
            <div><h2>Shortcuts</h2></div>
                <div><mat-icon>more_vert</mat-icon></div>
        </div>

        <div class="image">
            <img src="../../assets/undiscovered Eats.jpg" class="img1">
            <p>undiscovered Eats</p>
        </div>

        <div class="image">
            <img src="../../assets/weekend trips.jpg" class="img2">
            <p>weekend Trips</p>
        </div>

        <div class="image">
            <img src="../../assets/Jaspers market.jpg" class="img3">
            <p>Jasper's Market</p>
        </div>

        <div class="image">
            <img src="../../assets/redtable.jpg" class="img4">
            <p>Red Table Talk Groups</p>
        </div>

        <div class="image">
            <img src="../../hikking.jpg" class="img5">
            <p>Best Hidden Hikking Trails</p>
        </div> 

        <button class="btn">See More
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </div>
