<div class="leftbar">
    <div class="inside">
        <div class="user-avatar">
            <span class="name">Lele</span>
            
        </div>
        <div>
            <mat-icon>video_library</mat-icon> 
            <span>Videos</span>
        </div>
        <div>
            <mat-icon>events</mat-icon> 
            <span>Events</span>

        </div>

        <div>
            <mat-icon>people</mat-icon>
            <span>Friends</span>
        </div>

        <div>
            <mat-icon>memory</mat-icon>
            <span>Memories</span>
        </div>

        <div>
            <mat-icon class="see-more">expand_more</mat-icon>
            <span>See More</span>
        </div>
    </div>

</div>
