<div class="mainCont">
    <div class="row1">
        <h2>Sponsored</h2>
        <div class="image">
            <img src="../../assets/food.jpg" class="img1">
            <label>Lebo's Pizza</label>
        </div>
        <h4>Experience the trendy pizza spot in Palo Alto being called the big thing.</h4>
        <img src="../../assets/food.jpg" class="pictureOne">
    </div>
    <hr>

    <div class="row2">
        <h2>Birthdays</h2>
        <div class="image">
            <img src="../../assets/birthday.jpg" class="img1">
            <label>Jessica,Erica and 2 others have birthdays today</label>
        </div>
        <hr>
    </div>
    <div class="row3">
        <h2>Contacts</h2>
        <img src="../../assets/ladyDu.jpg" class="img1">
        <label>Lady Du</label>
    </div>

    <div class="image">
        <img src="../../assets/ladyP.jpg" class="img1">
        <label>Zar</label>
    </div>

    <div class="image">
        <img src="../../assets/man1.jpg" class="img1">
        <label>Jes Nkosi</label>
    </div>

    <div class="image">
        <img src="../../assets/images (1).jpg" class="img1">
        <label>Dennis Han</label>
    </div>

    <div class="image">
        <img src="../../assets/images.jpg" class="img1">
        <label>Eric Jones</label>
    </div>
</div>
