<div class="mainContainer">

<div class="myLeftSide">
<mat-icon>facebook</mat-icon>

<div class="search">
<mat-icon>search</mat-icon>
<input type="text" placeholder="Search facebook"class="input">
</div>

</div>



<div class="myMiddleSide">
<mat-icon>home</mat-icon>
<mat-icon>videocam</mat-icon>
<mat-icon>people</mat-icon>
<mat-icon>extension</mat-icon>
<mat-icon>card_giftcard</mat-icon>
    </div>


<div class="myRightSide">
<div class="picture">
<img src="../../assets/depositphotos_22064725-stock-photo-happy-smiling-girl.jpg"class="image">
<label>Josephine</label>

</div>      


</div>





</div>