<div class="maintCont">
    <div class="para1">
        <img src="../../assets/iphone.jpg" class="images">
        <img src="../../assets/flowers.jpg" class="images">
        <img src="../../assets/hike.jpg" class="images">
        <img src="../../assets/forth.jpg" class="images">
        <img src="../../assets/fifth.jpg" class="images">
        
    </div>
    <div class="para2">
        <div class="image">
            <img src="../../assets/depositphotos_22064725-stock-photo-happy-smiling-girl.jpg" class="img1">
            <input type="text" placeholder="What's on your mind Josephine?" class="input">
        </div><br>
        <hr><br>
        <div class="content">
            <div class="image">
                <mat-icon>photo</mat-icon>
                <span>Photo/Video</span>
            </div>

            <div class="image">
                <mat-icon>people</mat-icon>
                <span>Tag Friends</span>
            </div>

            <div class="image">
                <mat-icon>sentiment_satisfied_alt</mat-icon>
                <span>Feeling/Activity</span>
            </div>

            <div class="para3">
                <div class="image1">
                    <img src="../../assets/ladyDu.jpg" class="img1">
                    <span><h2>Fiona Ozeri</h2></span>

                </div>
                <p>This has some great healthy recipes</p>
                
                <div>
                    <img src="../../food.jpg" class="recipes">
                </div>
            </div>
        </div>
    </div>
</div>
