.mainContent{
height: 100vh;
background-color: black;

}
.main{
height: 100%;

}
.tool{
    height: 10%;
    background-color: yellow;
}
.leftBar{
height: 100%;
width: 23%;
background-color: brown;

}
.middleBar{
height: 100%;
width: 50%;
background-color: antiquewhite;

}


.rightBar{
height: 100%;
width: 23%;
color:white;
background-color: pink;
}
.paragraphs{
height: 90%;
display: flex;
flex-direction: row;
justify-content: space-between;

}